<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script defer src="static/script.js"></script>
    <title>ToDoList</title>
</head>
<body>
    <div id="container">
        <h1>Get productive!</h1>
        <h2>Current time is: 
            <div id="clock">###</div>
        </h2>

        <form action="" id="input">
            <label for="task">Add the task: </label>
            <input type="text" id="task">
            <input type="submit" class="mybtn" id="submit" value="Submit">
        </form>
     
        <div id="list">
            <div id="titleDone">
                <div>To</div>
                <div>Do</div>
            </div>
            
        </div>
        <div id="buttons">
            <button id="btn" class="mybtn">Show not<br>finished</button>
        </div>

    </div>
</body>
</html>
